torch==2.9.1 
torchvision==0.24.1 
numpy==2.0.2 
pandas==2.3.3 
scipy==1.15.2 
scikit-learn==1.7.2 
scanpy==1.10.3 
anndata==0.11.4 
h5py==3.15.1 
hestcore==1.0.4 
huggingface-hub==0.36.0 
datasets==2.14.4 
einops==0.8.1 
opencv-python-headless==4.13.0.90 
pillow==12.1.0 
matplotlib==3.10.8 
tqdm==4.67.1 
pyyaml==6.0.3